---
const { imgDefault, imgHover = null, alt = "icon", size = "medium" } = Astro.props;

const sizeMap = {
  small: "w-4 h-4", // 16px
  medium: "w-5 h-5", // 20px
  large: "w-6 h-6", // 24px
  xl: "w-10 h-10", // 40px
};

const iconSize = sizeMap[size] ?? sizeMap.medium;
---

<div class={`relative inline-block ${iconSize} group`}>
  <img src={imgDefault} alt={alt} class={`absolute inset-0 object-contain transition-opacity duration-200 ${imgHover ? "opacity-100 group-hover:opacity-0" : ""}`} />
  {imgHover && <img src={imgHover} alt={alt} class="absolute inset-0 object-contain opacity-0 group-hover:opacity-100 transition-opacity duration-200" />}
</div>
