---
const { icon = "", size = "medium", strokecolor = "negative" } = Astro.props;

const iconSize = sizeMap[size] ?? sizeMap.medium;
---

<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox={sizeClasses[size]} stroke-width="2" class={`size-6 ${strokeClasses[strokecolor]}`} {...{ innerHTML: icon }}></svg>

<div class={`relative inline-block ${iconSize} group`}>
  <img
    src={imgDefault}
    alt={alt}
    class={`absolute inset-0 object-contain transition-opacity duration-200 ${imgHover ? "opacity-100 group-hover:opacity-0" : ""}`}
  />
  {
    imgHover && (
      <img
        src={imgHover}
        alt={alt}
        class="absolute inset-0 object-contain opacity-0 group-hover:opacity-100 transition-opacity duration-200"
      />
    )
  }
</div>
